<ion-grid>
  <ion-row>
    <ion-col size="12" sizeMd="6" sizeLg="3" *ngFor="let recipe of recipes">
      <ion-card routerLink="/app/recipe/{{recipe.UID}}">
        <ion-card-header class="align-vertical">
          <ion-avatar class="align-end">
            <ion-img [src]="recipe.Author.ImageUrl"></ion-img>
          </ion-avatar>
          <ion-card-subtitle>{{recipe.Author.Name}}</ion-card-subtitle>
        </ion-card-header>
        
        <img class="recipeImage" [src]="recipe.ImageURL">

        <ion-card-content>
          <ion-item class="align-vertical">
            <ion-card-title>{{recipe.Title}}</ion-card-title>
          </ion-item>

          <ion-row>
            <ion-item>
              <ion-icon name="time" style="color: #FFFFFF;"></ion-icon>
              <div class="icon-description">{{recipe.TimeTip.Description}}</div>
            </ion-item> 
  
            <ion-item class="align-end">
              <ion-icon name="star" style="color: gold;"></ion-icon>
              <div class="icon-description" style="color: gold;">{{recipe.Rating}}</div>
            </ion-item>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>