<ion-menu side="start" menuId="homeMenu" contentId="mainMenuContent">
  <ion-header>
      <ion-toolbar>
          <ion-avatar slot="start" class="ion-padding-start ion-padding-bottom ion-padding-top">
              <img [src]="currentUserData.imgURL">
          </ion-avatar>
          <ion-title>{{currentUserData.username}}</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-button fill="clear" color="dark" expand="full" size="large" [routerLink]="['/app', 'home']" (click)="close();">
        <span class="ion-text-left">
          <ion-icon name="home-outline" class="ion-padding-end"></ion-icon>
          <ion-label class="ion-text-left">Home</ion-label>
        </span>
      </ion-button>
      <ion-button fill="clear" color="dark" expand="full" size="large" [routerLink]="['/app', 'create-recipe']" (click)="close();">
        <span class="ion-text-left">
          <ion-icon name="add" class="ion-padding-end"></ion-icon>
          <ion-label class="ion-text-left">Crea una receta</ion-label>
        </span>
      </ion-button>
    </ion-list>
    <ion-item-divider>
    </ion-item-divider>
      <ion-list>
        <ion-button fill="clear" color="dark" expand="full" size="large" [routerLink]="['/app', 'profile']" (click)="close();">
          <span class="ion-text-left">
            <ion-icon name="person-outline" class="ion-padding-end"></ion-icon>
            <ion-label class="ion-text-left">Mi perfíl</ion-label>
          </span>
        </ion-button>
        <ion-button fill="clear" color="dark" expand="full" size="large">
          <span class="ion-text-left">
            <ion-icon name="newspaper-outline" class="ion-padding-end"></ion-icon>
            <ion-label class="ion-text-left">Mis recetas</ion-label>
          </span>
        </ion-button>
        <ion-button fill="clear" color="dark" expand="full" size="large">
          <span class="ion-text-left">
            <ion-icon name="settings-outline" class="ion-padding-end"></ion-icon>
            <ion-label class="ion-text-left">Configuración</ion-label>
          </span>
        </ion-button>
      
        <ion-button fill="clear" color="dark" expand="full" size="large" (click)="logout();">
          <span class="ion-text-left">
            <ion-icon name="log-out-outline" class="ion-padding-end"></ion-icon>
            <ion-label class="ion-text-left">Cerrar sesión</ion-label>
          </span>
        </ion-button>
    </ion-list>
    <ion-item-divider>
      <img class="menu-logo" src="/assets/logo.png">
    </ion-item-divider>
  </ion-content>
</ion-menu>