ion-menu{
    ion-button{
        span{
            display: flex;
            align-items: center;
            margin-right: auto;
        }
    }

    
    ion-avatar{
        height: 100%;
    }

    .menu-logo{
        padding: 5%;
        margin: 0 auto;
        width: 30%;
    }
}
