ion-menu{
    ion-button{
        span{
            display: flex;
            align-items: center;
            margin-right: auto;
        }
    }

    
    ion-avatar{
        height: 100%;
    }
}
