ion-content{
    transition: 1s;

    ion-card-header{
        text-align: center;
        ion-avatar{
            width: 17.5vmax;
            height: 17.5vmax;
            margin: 0 auto;
        }
    }

    ion-card-content{
        ion-item{
            width: 100%;
            border: 1px solid #f1f1f1 !important;
        }
    }

    .center-vertical{
        display: flex;
        align-items: center;
    }

    .width-100{
        width: 100%;
    }
}