<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/app/home" slot="start"></ion-back-button>
    <ion-title>Perfíl de {{User.username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>

      <ion-col sizeLg="6" sizeXl="6" sizeMd="6" size="12"> <!-- Datos del usuario -->
        <ion-card>
          <ion-card-header>
            <ion-avatar>
              <img [src]="User.imgURL">
            </ion-avatar>
          </ion-card-header>
          <ion-card-content>
            <ion-item #username class="ion-margin-bottom" button="true" disabled="true">
              <ion-label position="floating">Usuario</ion-label>
              <ion-input [value]="User.username"></ion-input>
            </ion-item>
            <ion-item #firstName class="ion-margin-bottom" button="true" disabled="true">
              <ion-label position="floating">Nombre(s)</ion-label>
              <ion-input [value]="User.firstName"></ion-input>
            </ion-item>
            <ion-item #lastName class="ion-margin-bottom" button="true" disabled="true">
              <ion-label position="floating">Apellido(s)</ion-label>
              <ion-input [value]="User.lastName"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sizeLg="6" sizeXl="6" sizeMd="6" size="12">
        <ion-item-divider class="ion-padding ion-text-center"><ion-title>Favoritos del chefsito</ion-title></ion-item-divider>
        <ion-list class="ion-text-center">
          <ion-item>
            <div *ngIf="!showFavorites" class="ion-text-center width-100">
              <ion-icon class="ion-padding" size="large" name="heart-dislike"></ion-icon>
              <div class="ion-padding-bottom">{{User.username}} no tiene recetas favoritas</div>
            </div>
  
            <swiper #favRecipesSwiper [config]="swiperConfig" *ngIf="showFavorites">
              <ng-template swiperSlide *ngFor="let fav of UserFavorites">
                <app-recipe-card class="width-100" [recipe]="fav"></app-recipe-card>
              </ng-template>
            </swiper>
          </ion-item>

          <ion-item-divider class="ion-padding"><ion-title>Recetas del chefsito</ion-title></ion-item-divider>

          <ion-item>
            <div *ngIf="!showUserRecipes" class="ion-text-center width-100">
              <ion-icon class="ion-padding" size="large" name="recipe-not-found"></ion-icon>
              <div class="ion-padding-bottom">{{User.username}} no ha creado ninguna receta</div>
            </div>

            <swiper #userRecipesSwiper [config]="swiperConfig" *ngIf="showUserRecipes">
              <ng-template swiperSlide *ngFor="let recipe of UserRecipes">
                <app-recipe-card class="width-100" [recipe]="recipe"></app-recipe-card>
              </ng-template>
            </swiper>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>