.search-config{
    display: flex;

    .category-config{
        width: auto;
        :last-child{
            color: gray;
        }
    }
}

@media (max-width: 768px) {
    .filter-label{
        display: none;
    }
}