<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/app/home"></ion-back-button>
    <app-search-bar [defaultValue]="defaultSearch"></app-search-bar>
    <ion-item slot="end" button="true" (click)="openFilters()">
      <ion-label class="filter-label ion-margin-end">Filtros</ion-label>
      <ion-icon name="filter"></ion-icon>
    </ion-item>
  </ion-toolbar>

  <app-search-filter-popup (sendFilters)="updateRecipes($event)" #filters></app-search-filter-popup>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher #refresher slot="fixed" (ionRefresh)="doRefresh(refresher)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>  

  <app-recipe-grid [Recipes]="Recipes"></app-recipe-grid>
</ion-content>
