<ion-list>
  <ion-button fill="clear" color="dark" expand="full">
    <span class="ion-text-left">
      <ion-icon name="person-outline" class="ion-padding-end"></ion-icon>
      <ion-label class="ion-text-left">Mi perfíl</ion-label>
    </span>
  </ion-button>

  <ion-button fill="clear" color="dark" expand="full" (click)="logout();">
    <span class="ion-text-left">
      <ion-icon name="log-out-outline" class="ion-padding-end"></ion-icon>
      <ion-label class="ion-text-left">Cerrar sesión</ion-label>
    </span>
  </ion-button>
</ion-list>