ion-content{
    transition: 1s;
}

.recipe-img{
    margin: 0 auto;
    height: 477px;
    object-fit: cover;
}

.align-self-center{
    margin: 0 auto;
}

.align-self-end{
    margin-left: auto;
}

ion-buttons{
    font-size: 4vh;
    ion-label{
        ion-label{
            font-weight: bold;
        }
    }
}

.max-width{
    width: 100%;
}

.tip{
    ion-card{
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    ion-icon{
        width: 8vmin;
        height: 8vmin;
    }
}

.counter{
    display: flex;
    align-items: center;

    ion-item{
        margin: 0 auto;
    }
}

.center-vertical{
    display: flex;
    align-items: center;
}

@media (min-width: 768px){  
    swiper{
        //background: white !important;
        max-height: 477px !important;
        overflow-y: auto !important;
    }
}