.recipe-img{ 
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

.author-info{
    margin-top: 2vmin;
    height: 11.5vmin;
    color: #F1F1F1;
    padding-top: 1vmin;
    padding-bottom: 1vmin;

    display: flex;
    align-items: center;

    position: absolute;
    top: 1.5vw;
    right: 0;
    
    ion-avatar{
        width: 11.5vmin;
        height: 11.5vmin;
        box-shadow: 1px 1px 2px black, 0 0 0.1em black, 0 0 0.2em black;
    }

    ion-title{
        font-size: 3.25vmin;
        margin-left: 0;
        padding-left: 0;
        height: 100%;
        text-shadow: 1px 1px 2px black, 0 0 0.1em black, 0 0 0.2em black;
    }
}

.author-info:hover{
    transition: 0.25s;
    background: rgba(0, 0, 0, 0.2);
}

ion-content{
    transition: 1s ease-in-out;
}

.align-self-center{
    margin: 0 auto;
}

.align-self-end{
    margin-left: auto;
}

ion-buttons{
    font-size: 4vh;
    ion-label{
        ion-label{
            font-weight: bold;
        }
    }
}

.max-width{
    width: 100%;
}

.tip{        
    ion-card{
        padding-top: 1vh;
        padding-bottom: 1vh;
        height: 100%;
        margin: 0;
    }

    ion-icon{
        width: 8vmin;
        height: 8vmin;
    }
}

.counter{
    display: flex;
    align-items: center;

    ion-item{
        margin: 0 auto;
    }
}

.center-vertical{
    display: flex;
    align-items: center;
}

.no-ratings{
    text-align: center;
    width: 100%;
    color: gray;

    ion-icon{
        font-size: 10vmin;
    }

    div{
        font-size: 3vmin;
    }
}

.rating-row{
    display: flex;
    align-items: center;
}

.rating-image{
    width: 6.5vmin;
    height: 6.5vmin;
    padding: 0;
    margin: 0;
}

.rating-suggest{
    font-size: 2.75vmin;
    color: gray;
}

.rating-description{
    text-align: left;
    width: 0;

    .rating-user{
        font-size: 2.75vmin;
        color: #FFF;
    }

    .rating-comment{
        color: #d8d8d8;
        font-size: 2.75vmin;
    }
}

.rating-number{
    font-size: 2.75vmin;
    ion-icon{
        margin-right: 1vmin;
    }
}

.show-outline{
    border: 1px solid #f1f1f1 !important;
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
    .recipe-img{
        margin: 0 auto;
        height: 477px;
        object-fit: cover;
    }

    swiper{
        max-height: 477px !important;
        overflow-y: auto !important;
    }
}
