<div style="overflow-y: scroll;">
  <h1>Politicas de privacidad</h1>
  <p>Ultima edicion: 27 de abril de 2022</p>
  <p>Esta politica de privacidad describe nuestras politicas y procedimientos sobre la recopilacion, el uso y la divulgacion de su informacion cuando utiliza el servicio y le informa sobre sus derechos de privacidad y como la ley lo protege.</p>
  <p>Usamos sus datos personales para proporcionar y mejorar el servicio. Al usar el servicio, acepta la recopilacion y el uso de informacion de acuerdo con esta politica de privacidad. Esta politica de privacidad se ha creado con la ayuda del <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">Generador de politicas de privacidad</a>.</p>
  <h1>Interpretacion y definiciones</h1>
  <h2>Interpretacion</h2>
  <p>Las palabras cuya letra inicial esta en mayuscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendran el mismo significacion independientemente de que aparezcan en singular o en plurar.</p>
  <h2>Definiciones</h2>
  <p>A los efectos de esta politica de privacidad:</p>
  <ul>
   <li>
       <p><strong>Cuenta</strong> significa una cuenta creada para que usted acceda a nuestro servicio o partes de nuestro servicio.</p>
   </li>
   <li>
      <p><strong>Afiliado</strong> significa una entidad que controla, es controlada o esta bajo el control comun de una parte, donde &quot;control&quot; significa la propiedad del 50% o mas de las acciones, participacion accionaria u otros valores con derecho a voto para la eleccion de directores u otra autoridad administrativa.</p> 
   </li>
   <li>
       <p><strong>Aplicacion</strong> significa el programa de software proporcionado por la compañia descargado por usted en cualquier dispositivo electronico, llamado Chefsito</p>
   </li>
   <li>
       <p><strong>Empresa</strong> (referida como "la Empresa", "Nosotros", "Nos" o "Nuestro" en este acuerdo) se refiere a Chefsito.</p>
   </li>
  <li>
      <p><strong>Cookies</strong> son pequeños archivos que un sitio web coloca en su computadora, dispositivo movil o cualquier otro dispositivo, y contienen los detalles de su historial de navegacion en ese sitio web entre sus muchos usos.</p>
  </li>
  <li>
      <p><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al servicio, como una computadora, un telefono celular o una tableta digital.</p>
  </li>
  <li>
      <p><strong>Datos personales</strong> es cualquier informacion relacionada con una persona fisica identificada o identificable.</p>
  </li>
  <li>
      <p><strong>Servicio</strong> se refiere a la aplicacion, al sitio web o a ambos.</p>
  </li>
  <li>
      <p><strong>Proveedor de servicios</strong> significa cualquier persona fisica o juridica que procesa los datos en nombre de la compañia. Se refiere a empresas de terceros o personas empleadas por la empresa para facilitar el servicio, proporcionar el servicio en nombre de la empresa, realizar servicios relacionados con el servicio o ayudar a la empresa a analizar como se utiliza el servicio.</p>
  </li>
  <li>
      <p><strong>Datos de uso</strong> se refiere a los datos recopilados automaticamente, ya sea generados por el uso del servicio o por la propia infraestructura del servicio (por ejemplo, la duracion de una visita a la pagina).</p>
  </li>
  <li>
      <p><strong>Sitio web</strong> se refiere a Chefsito, accesible desde <a href="https://chefsito-bot.web.app/" rel="external nofollow noopener" target="_blank">https://chefsito-bot.web.app/</a></p>
  </li>
  </ul>
      <h1>Recopilacion y uso de sus datos personales</h1>
      <h2>Tipos de datos recopilados</h2>
      <h3>Datos personales</h3>
      <p>Mientras usa nuestros servicio, podemos pedirle que nos proporcione cierta informacion de identificacion personal que se puede usar para contactarlo o identificarlo. La informacion de identificacion personal puede incluir, entre otros:</p>
  <ul>
  <li>
      <p>Direccion de correo electronico</p>
  </li>
  <li>
      <p>Nombre y apellido</p>
  </li>
  <li>
      <p>Datos de uso</p>
  </li>
  </ul>
  <h3>Datos de uso</h3>
  <p>Los datos de uso se recopilan automaticamente cuando se utiliza el servicio.</p>
  <p>Los datos de uso pueden incluir informacion como la direccion del protocolo de internet de su dispositivo (por ejemplo, la direccion IP), el tipo de navegador, la version del navegador, las paginas de nuestro servicio que visita, la hora y la fecha de su visita, el tiempo que pasa en esas paginas., identificadores unicos de dispositivos y otros datos de diagnostico.</p>
  <p>Cuando accede al servicio a traves de un dispositivo movil, podemos recopilar cierta informacion automaticamente, incluido, entre otros, el tipo de dispositivo movil que utiliza, la identificacion unica de su dispositivo movil, la direccion IP de su dispositivo movil, su sistema operativo movil, el tipo de navegador de internet movil que utiliza, identificadores unicos de dispositivos y otros datos de diagnostico.</p>
  <p>Tambien podemos recopilar informacion que su navegador envia cada vez que visita nuestro servicio o cuando accede al servicio a traves de un dispositivo movil.</p>
  <h3>Tecnologias de seguimiento y cookies</h3>
  <p>Utilizamos cookies para mejorar y analizar nuestro servicio. Las tecnologias que utilizamos pueden incluir:</p>
  <ul>
  <li><strong>Cookies o cookies del navegador.</strong> Una cookie es un pequeño archivo que se coloca en su dispositivo. Puede indicar a su navegador que rechace todas las cookies o que indique cuando se envia una cookie. Sin embargo, si no acepta las Cookies, es posible que no pueda utilizar algunas partes de nuestro servicio. A menos que haya ajustado la configuracion de su navegador para que rechace las cookies, nuestro servicio puede usar cookies.</li>
  <li><strong>Cookies Flash.</strong> Ciertas funciones de nuestro servicio pueden usar objetos almacenados localmente (o cookies flas) para recopilar y almacenar informacion sobre sus preferencias o su actividad en nuestro servicio. Las cookies de flash no se gestionan con la misma configuracion del navegador que las utilizadas para las cookies del navegador. Para obtener mas informacion sobre como puede eliminar las cookies de flash, lea &quot;¿Donde puedo cambiar la configuracion para deshabilitar o eliminar objetos locales compartidos?&quot; disponible en <a href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling_or_deleting_local_shared_objects_" rel="nofollow noopener externo target="_blank> https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_</a></li>
  </ul>
  <p>Las cookies pueden ser &quot;Persistentes&quot;o&quot;Sesion&quot;Cookies. Las cookies persistentes permanecen en su computadora personal o dispositivo movil cuando se desconecta, mientras que las cookies de sesion se eliminan tan pronto como cierra su navegador web. Puede obtener mas informacion sobre las cookies aqui: <a href="https://www.termsfeed.com/privacy-policy-generator/#faq-8" target="_blank">Cookies de TermsFeed Generator</a>.</p>
  <p>Utilizamos cookies de sesion y persistentes para los fines que se describen a continuacion:</p>
  <ul>
      <li>
          <p><strong>Cookies necesarias/esenciales</strong></p>
          <p>Tipo: Cookies de sesion</p>
          <p>Administrado por: Nosotros</p>
          <p>Proposito: estas cookies son esenciales para brindarle los servicios disponibles a traves del sitio web y permitirle usar algunas de sus funciones. Ayudan a autenticar a los usuarios y previenen el uso fraudulento de cuentas de usuario. Sin estas cookies, no se pueden proporcionar los servicios que ha solicitado, y solo utilizamos estas cookies para proporcionarle esos servicios.</p>
      </li>
      <li>
          <p><strong>Politica de Cookies / Aviso de Cookies de Aceptacion</strong></p>
          <p>Tipo: Cookies persistentes</p>
          <p>Administrado por: Nosotros</p>
          <p>Finalidad: Estas Cookies identifican si los usuarios han aceptado el uso de cookies de cookies en el Sitio Web.</p>
      </li>
      <li>
          <p><strong>Cookies de funcionalidad</strong></p>
          <p>Tipo: Cookies persistentes</p>
          <p>Administrado por: Nosotros</p>
          <p>Proposito: estas cookies permiten recordar las elecciones que hace cuando usa el sitio web, como recordar sus datos de inicio de sesión o preferencia de idioma. El propósito de estas Cookies es brindarle una experiencia mas personal y evitar que tenga que volver a ingresar sus preferencias cada vez que use el sitio web.</p>
      </li>
  </ul>
  <p>Para obtener mas informacion sobre las cookies que utilizamos y sus opciones con respecto a las cookies, visite nuestra Politica de cookies o la seccion Cookies de nuestra Politica de privacidad.</p>
  <h2> Uso de datos personales</h2>
  <p>La Empresa podrá utilizar los Datos Personales para los siguientes fines:</p>
  <ul>
      <li>
          <p><strong>Para proporcionar y mantener nuestro servicio </strong>, inlcuido el control del uso de nuestro servicio.</p>
      </li>
      <li>
          <p><strong>Para administrar su cuenta:</strong>para administrar su registro como usuario del servicio. Los datos personales que proporcione pueden darle acceso a diferentes funcionalidades del servicio que estan disponibles para usted como usuario registrado.</p>
      </li>
      <li>
          <p><strong>Para la ejecución de un contrato:</strong> el desarrollo. cumplimiento y realizacion del contrato de compra de los productos, articulos o servicios que haya adquirido o de cualquier otro contrato con nosotros a través del servicio.</p>
      </li>
      <li>
          <p><strong>Para contactarlo:</strong> Para contactarlo por correo electronico, llamadas telefonicas, SMS u otras formas equivalentes de comunicacion electronica, como notificaciones automaticas de una aplicacion movil con respecto a actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos o servicios contratados, incluidas las actualizaciones de seguridad, cuando sea necesario o razonable para su implementacion.</p>
      </li>
      <li>
          <p><strong>Para proporcionarle</strong> noticias, ofertas espaciales e informacion general sobre otros bienes, servicios y eventos que ofrecemos que son similares a los que ya ha comprado o sobre los que ha consultado, a menos que haya optado por no hacerlo, recibir dicha informacion.</p>
      </li>
      <li>
          <p><strong>Para gestionar sus solicitudes:</strong> Para entender y gestionar sus solicitudes hacia Nosotros.</p>
      </li>
      <li>
          <p><strong>Para transferencias comerciales:</strong> podemos usar su informacion para evaluar o realizar una fusion, desinversion, reestructuracion, reorganizacion, disolucion u otra venta o transferencia de algunos o todos nuestros activos, ya sea como negocio en marcha o como parte de una quiebra, liquidacion o procedimiento similar, en el que los datos personales que tenemos sobre los usuarios de nuestro servicio se encuentran entre los activos transferidos.</p>
      </li>
      <li>
          <p><strong>Para otros fines</strong>: podemos utilizar su informacion para otros fines, como el análisis de datos, la identificacion de tendencias de uso, la determinacion de la eficacion de nuestras campañas promocionales y la evalución y mejora de nuestro servicio, productos y servicios, marketing y tu experiencia.</p>
      </li>
  </ul>
  <p>Podemos compartir su informacion personal en las siguientes situaciones:</p>
  <ul>
      <li><strong>Con proveedores de servicios:</strong> Podemos compartir su informacion personal con proveedores de servicios para monitorear y analizar el uso de nuestro servicio, para contactarlo.</li>
      <li><strong>Para transferencias comerciales:</strong> podemos compartir o transferir su informacion personal en relacion con, o durante las negociaciones de, cualquier fusion, venta de activos de la compañia, financiacion o adquisicion de la totalidad o una parte de nuestro negocio a otra empresa.</li>
      <li><strong>Con afiliados:</strong> podemos compartir su informacion con nuestros afiliados, en cuyo caso les exigiremos que respeten esta politica de privacidad. Los afiliados incluyen nuestra empresa matriz y cualquier otra subsidiaria, socios de empresas conjuntas u otras empresas que controlamos o que estan bajo control común con nosotros.</li>
      <li><strong>Con socios comerciales:</strong> podemos compratir su informacion con nuestros socios comerciales para ofrecerle ciertos productos, servicios o promociones.</li>
      <li><strong>Con otros usuarios:</strong> cuando comparte informacion personal o interactua en las areas publicas con otros usuarios, dicha informacion puede ser vista por todos los usuarios y puede distribuirse publicamente al exterior.</li>
      <li><strong>Con su consentimiento</strong>: podemos divulgar su informacion personal para cualquier otro proposito con su consentimiento.</li>
  </ul>
  <h2>Seguridad de sus datos personales</h2>
  <p>La seguridad de sus datos personales es importante para nosotros, pero recuerde que ningun metodo de transmision por internet o metodo de almacenamiento electronico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus datos personales, no podemos garantizar su seguridad absoluta.</p>
  <h1>Privacidad infantil</h1>
  <p>Nuestro servicio no se dirige a ninguna persona menor de 13 años. No recopilamos a sabiendas informacion de identificacion personal de ninguna persona menor de 13 años. Si es padre o tutor y sabe que su hijo nos ha proporcionado datos, por favor contactenos. Si nos damos cuenta de que hemos recopilado datos personales de cualquier persona menor de 13 años sin verificacion del consentimiento de los padres, tomaremos medidas para eliminar esa informacion de nuestros servidores.</p>
  <p>Si necesitamos confiar en el consentimiento como base legal para procesar su informacion y su pais requiere el consentimiento de uno de sus padres es posible que necesitemos el consentimiento de su padre antes de recopilar y usar esa informacion.</p>
  <h1>Enlaces a otros sitios web</h1>
  <p>Nuestro servicio puede contener enlaces a otros sitios web que no operamos nosotros. Si hace clic en el enlace de un tercero, sera dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la politica de privacidad de cada sitio que visite.</p>
  <p>No tenemos control ni asumimos ninguna responsabilidad por el contenido, las politicas de privacidad o las practicas de sitios o servicios de terceros.</p>
  <h1>Cambios a esta politica de privacidad</h1>
  <p>Podemos actualizar nuestra politica de privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva politica de privacidad en esta pagina.</p>
  <p>Le informaremos por correo electronico y/o un aviso destacado en nuestro servicio, antes de que el cambio entre en vigencia y actualizaremos la &quot;ultima actualizacion&quot; fecha en la parte superior de esta politica de privacidad.</p>
  <p>Le recomendamos que revise esta politica de privacidad periodicamente para ver si ha habido cambios. Los cambios a esta politica de privacidad son efectivos cuando se publican en esta pagina.</p>
  
  <h1>Contáctenos</h1>
  <p>Si tiene alguna pregunta sobre esta politica de privacidad, puede contactarnos:</p>
  <ul>
      <li>Por correo electronico: chefsito-bot-admin@googlegroups.com</li>
  </ul>
  </div>