.list-button{
    border: 1px solid #FFFFFF10 !important;
    text-align: left;
}

.button-disabled{
    background: #ff474777;
}

.show-outline{
    border: 1px solid #FFFFFF10 !important;
}

.filter-list{
    background: none !important;
}

.content{
    overflow-y: auto;
    transition: max-height 300ms ease-in-out;
}

ion-list-header{
    font-weight: bolder;
}

@media (max-width: 768px) {
    .content{
        overflow-y: visible;
    }
}

@media (max-width: 576px) {
    .list-button{
        width: 100%;
    }
}