<img class="background-image" src="https://fondosmil.com/fondo/35731.jpg">
<img src="../../../assets/logo.png" class="float-top">
<ion-row class="float-bottom">
  <ion-col size="12">
    <ion-button color="none" expand="full" class="google-button" href="/app/home">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Ingresa con Google
    </ion-button>
  </ion-col>

  <ion-col size="12">
    <ion-button color="none" expand="full" class="facebook-button" href="/app/home">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Ingresa con Facebook
    </ion-button> 
  </ion-col>
</ion-row>  

<p class="float-bottom" style="bottom: 0.25vmax;">¿No tienes una cuenta? Regístrate</p>
