<img class="background-image" src="assets/welcome-background.gif">
<img src="../../../assets/logo.png" class="float-top">

<ion-grid class="float-bottom">
  <ion-row>
    <ion-col size="12" sizeLg="6">
      <ion-button color="dark" expand="full" fill="clear" class="google-button" (click)="tryLoginGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Continua con Google
      </ion-button>
    </ion-col>
  
    <ion-col size="12" sizeLg="6">
      <ion-button color="dark" expand="full" fill="clear" class="facebook-button" (click)="tryLoginFacebook()">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Continua con Facebook
      </ion-button> 
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col sizeLg="6">
      <ion-button expand="full" (click)="tryLoginEmail();">
        <ion-icon slot="start" name="mail"></ion-icon>
        Ingresa con correo
      </ion-button> 
    </ion-col>
  
    <ion-col sizeLg="6">
      <ion-button color="dark" fill="clear" expand="full" (click)="tryRegisterEmail();">
        Regístra una cuenta
      </ion-button> 
    </ion-col>
  </ion-row>
</ion-grid>  