ion-content{
    transition: 1s;
}

.select-category{
    font-size: 3vh;
    text-align: center;
}

.image-container{
    height: 100%;
    .recipe-img{
        margin: 0 auto;
        height: 100%;
        object-fit: cover;
    }
}

.align-self-center{
    margin: 0 auto;
}

.align-self-end{
    margin-left: auto;
}

ion-buttons{
    font-size: 4vh;
    ion-label{
        ion-label{
            font-weight: bold;
        }
    }
}

.max-width{
    width: 100%;
}

.tip{        
    ion-card{
        padding-top: 1vh;
        padding-bottom: 1vh;
        height: 100%;
        margin: 0;
    }

    ion-icon{
        width: 8vmin;
        height: 8vmin;
    }
}

.counter{
    display: flex;
    align-items: center;

    ion-item{
        margin: 0 auto;
    }
}

.center-vertical{
    display: flex;
    align-items: center;
}

.show-outline{
    border: 1px solid #f1f1f1 !important;
}


.ingredient-add{
    ion-icon{
        margin: 0 auto;
    }
}

@media (max-width: 768px){
    .ingredient-quantity{
        width: 100%;
    }
    
    .ingredient-name{
        width: 100% !important;
    
        ion-input{
            width: 100% !important;
        }
    }
}

@media (min-width: 768px){

    .image-container{
        height: 477px;
        .recipe-img{
            margin: 0 auto;
            height: 477px;
            object-fit: cover;
        }
    }

    swiper{
        max-height: 477px !important;
        overflow-y: auto !important;
    }
}